# Code Challenge

Challenge from pybites (https://codechalleng.es/bites/21/)

Given the provided cars dictionary:

    cars = {
    'Ford': ['Falcon', 'Focus', 'Festiva', 'Fairlane'],
    'Holden': ['Commodore', 'Captiva', 'Barina', 'Trailblazer'],
    'Nissan': ['Maxima', 'Pulsar', '350Z', 'Navara'],
    'Honda': ['Civic', 'Accord', 'Odyssey', 'Jazz'],
    'Jeep': ['Grand Cherokee', 'Cherokee', 'Trailhawk', 'Trackhawk']}
    
1. Get all Jeeps
2. Get the first car of every manufacturer.
3. Get all vehicles containing the string Trail in their names (should work for other grep too)
4. Sort the models (values) alphabetically

In [1]:
# declare dictionary
cars = {
    'Ford': ['Falcon', 'Focus', 'Festiva', 'Fairlane'],
    'Holden': ['Commodore', 'Captiva', 'Barina', 'Trailblazer'],
    'Nissan': ['Maxima', 'Pulsar', '350Z', 'Navara'],
    'Honda': ['Civic', 'Accord', 'Odyssey', 'Jazz'],
    'Jeep': ['Grand Cherokee', 'Cherokee', 'Trailhawk', 'Trackhawk']
}

#### 1. Return a comma separated string of jeep models

In [21]:
def get_all_jeeps():
    """return a comma separated string of jeep models (original order)"""
    
    return ', '.join(cars['Jeep'])

In [22]:
get_all_jeeps()

'Grand Cherokee, Cherokee, Trailhawk, Trackhawk'

#### 2. Return a list of the first car of every manufacturer

In [48]:
def get_first_model_each_manufacturer():
    """return a list of matching models (original ordering)"""
    return [models[0] for models in cars.values()]

In [49]:
get_first_model_each_manufacturer()

['Fairlane', 'Barina', '350Z', 'Accord', 'Cherokee']

#### 3. Get all vehicles containing the string Trail in their names (should work for other grep too)

In [45]:
def get_all_matching_models(grep='trail'):
    """return a list of all models containing the case insensitive
       'grep' string which defaults to 'trail' for this exercise,
       sort the resulting sequence alphabetically"""
    
    models = []
    
    for car_models in cars.values():
        for model in car_models:
            if grep.lower() in model.lower():
                models.append(model)
            
    models.sort()
    
    return models

In [46]:
get_all_matching_models()

['Trailblazer', 'Trailhawk']

In [47]:
get_all_matching_models(grep='CO')

['Accord', 'Commodore', 'Falcon']

#### 4. Sort the models (values) alphabetically

In [52]:
def sort_car_models():
    """sort the car models (values) and return the resulting cars dict"""
    
    return {manufacturer:sorted(models) for manufacturer, models in cars.items()}

In [53]:
sort_car_models()

{'Ford': ['Fairlane', 'Falcon', 'Festiva', 'Focus'],
 'Holden': ['Barina', 'Captiva', 'Commodore', 'Trailblazer'],
 'Nissan': ['350Z', 'Maxima', 'Navara', 'Pulsar'],
 'Honda': ['Accord', 'Civic', 'Jazz', 'Odyssey'],
 'Jeep': ['Cherokee', 'Grand Cherokee', 'Trackhawk', 'Trailhawk']}