# Data Structures

## Lists

In [50]:
# create a new list
l = [1, 2, 3, 4, 5]
l

[1, 2, 3, 4, 5]

In [51]:
# reverse a list
l.reverse()
l

[5, 4, 3, 2, 1]

#### Sort
sorts the list in place

In [52]:
l.sort()
l

[1, 2, 3, 4, 5]

#### Pop
remove an item from a list and return it

In [4]:
# pop remove the last item in the list and returns it.
l.pop()

5

In [5]:
l

[1, 2, 3, 4]

In [6]:
# you can also pop, providing an idex
l.pop(2)

3

#### Append
add an item to the back of a list

In [15]:
l = [1, 2, 3, 4, 5]
l

[1, 2, 3, 4, 5]

In [16]:
l.append(6)
l

[1, 2, 3, 4, 5, 6]

#### Extend
add a list of items to the current list

In [26]:
l = [1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [27]:
l.extend([7,8,9])
l

[1, 2, 3, 4, 5, 7, 8, 9]

#### del
Remove an item from a list, but do not return the value

In [18]:
l = [1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [19]:
del l[0]
l

[2, 3, 4, 5]

#### Insert
insert a vlaue at a given location

In [34]:
l = [1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [35]:
pos = 2
l.insert(pos, 0)

In [36]:
l

[1, 2, 0, 3, 4, 5]

#### Index
returns the index for a given value

In [38]:
l = [1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [39]:
l.index(3)

2

## Mutability vs Immutability
#### Mutable
* Can be modified (add, edit, delete)
* Lists are mutable

#### Immutable 
* Cannot be edited
* tuples are immutable

In [47]:
tup = ('jon', 'smith')
tup

('jon', 'smith')

In [48]:
tup[0]

'jon'

In [49]:
tup[0] = 'Don'

TypeError: 'tuple' object does not support item assignment

## Dictionary
* Key:value reprsentation
* unordered

In [40]:
# declare a dictionary
pybites = {'jon':25, 'bill': 30, 'ted': 27}
pybites

{'jon': 25, 'bill': 30, 'ted': 27}

In [41]:
# declare an empty dictionary
people = {}

people['jon'] = 25
people['bill'] = 30
people['ted'] = 27

people

{'jon': 25, 'bill': 30, 'ted': 27}

In [42]:
# access dictionary keys only
people.keys()

dict_keys(['jon', 'bill', 'ted'])

In [43]:
# access values only
people.values()

dict_values([25, 30, 27])

In [44]:
# access all items
people.items()

dict_items([('jon', 25), ('bill', 30), ('ted', 27)])

In [54]:
# sort keys in a dictionary
sorted(people)

['bill', 'jon', 'ted']

In [55]:
# check to see if a key is in a dictionary
if 'jon' in people:
    print('yes')

yes

In [56]:
# Delete a key
del people['bill']
people

{'jon': 25, 'ted': 27}